metadata
.settings/
target/
target-eclipse/
build/
stacktrace.log
web-app/WEB-INF/classes
*.zip
*.class
*.war
*.zip
*.zip.sha1
*.log
.idea/
grails-vaadin7-demo/out/production
grails-vaadin7-plugin/web-app
grails-vaadin7-plugin/grails-app/i18n
*.iml
.classpath
.project
grails-vaadin7-plugin/out
grailsw
grailsw.bat
*.jar
