*.class
*.iml
*.jar
*.log
*.war
.gradle
.idea/
build/
grails-vaadin7-demo/out/production
grails-vaadin7-plugin/grails-app/i18n
grails-vaadin7-plugin/out
grails-vaadin7-plugin/web-app
grailsw
grailsw.bat
metadata
