<plugin name='vaadin' version='7.3.3' grailsVersion='2.0 &gt; *'>
  <author>Ondrej Kvasnovsky</author>
  <authorEmail>ondrej.kvasnovsky@gmail.com</authorEmail>
  <title>Vaadin 7 Plugin</title>
  <description>
        Grails plugin integrating Vaadin 7 into the Grails project.
        </description>
  <documentation>http://vaadinongrails.com</documentation>
  <type>VaadinGrailsPlugin</type>
  <resources />
</plugin>